.comment-text {
    text-align: left;
    padding: .5rem;
    margin-left: 4px;
    color:#d4d4dc;
  }
  
  .comment {
    font-weight: 300;
    font-size: 14px;
  }
  
  .user {
    font-weight: 500;
    font-size: 12px;
    color: #feda6a
  }
  .input {
    width: 100%;
  }